
* {
    margin: 0;
    padding: 0;
}

body {
     background-color:white ;
     color:rgb(18, 17, 17);
}

.page1{
    height: 55vh;
    width: 100vw;
    background-color:#ffffff;
}

.mentor-page-card{
    font-size: 1em;
    padding: 15px 50px;
    text-align: center;
    flex-direction: row;
    text-transform: capitalize;
}

.mentor-page{
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px;  
}

.container-image{
     height: 40vh;
    width: 15vw;
    background-color:#F0F1F0;
     border-radius: 30px;
     cursor: pointer; 
}

.container-image-page{
     margin: 20px 20px;
    border-radius: 50%;
    overflow: auto;
}

.page2{
    height: 30vh;
    width: 100vw;
    background-color:#EEF2FE;
}

.student-title{
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.student-page{
    /* background-color: black; */
    padding: 30px 20px;
    text-align: center;
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

.info-page{
    width:22vw ;
    height: 10vh;
    background-color:#FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    margin: 0 10px ;
}

.page3{
    height:15vh ;
    width: 100vw;
    /* text-align: center;
    display: flex;
    justify-content: center; */
    background-color: black;
}

.title{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px ;
}

.title-page{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1em;
}



